# home-like stuff from running the denv
.bash_history
.bash_logout
.bashrc
.cache/
.local/
.profile
.python_history

# building directory
build/

# python bytecode cache
**.pyc

# pytest
.pytest_cache

# file editing buffer
**.swp
